{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>

<body>
    <div class="main section">
        <nav>
            <img src="{% static 'images/Rightlogo.png' %}" style="width:70px; height:80px; padding-left:78px; position:fixed; top: 0">
            <h1 style="font-family:cursive; font-size:40px; top:0; line-height:80px; font-style:italic; color:rgba(230, 139, 54, 0.945);
            padding-left:150px; float:left; position:fixed">
                Fact Detector
            </h1>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'Registration' %}">Log In / Sign Up </a></li>
                {% endif %}
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="contactinfo">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><img src="{% static 'images/mail.png' %}"></span>
                        <span>factdetector@gmail.com</span>
                    </li>
                    <li>
                        <span><img src="{% static 'images/call1.png' %}"></span>
                        <span>
                            <ul>
                                <li>9428825377</li>
                                <li>9099895650</li>
                                <li>9586379555</li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>

            <form class="contactForm" method="POST">
                {% csrf_token %}
                <h2>Send a Message</h2>
                <div class="formbox1">
                    <div class="inputBox w50">
                        <input type="text" name="First Name" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="Last Name" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="Email" required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="Mobile Number" required>
                        <span>Mobile Number</span>
                    </div>

                    <div class="inputBox w100">
                        <textarea name="Message" required></textarea>
                        <span>Write your message here... </span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="send">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>