{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration and Login</title>
    
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    
    <div class="main">
       <img src="{% static 'images/Rightlogo.png' %}" style="width:70px;height:80px;padding-left:78px;position:fixed;top: 0"  >
        <h1 style="font-family:cursive;font-size: 40px;top:0;line-height:80px;font-style:italic;color:rgba(230, 139, 54, 0.945);
        padding-left:150px;float:left;position:fixed">Fact Detector</h1>
    
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us </a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'Registration' %}">Log In / Sign Up </a></li>
                {% endif %}
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </nav>
            
    </div> 
       
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Log In</button>
            <button type="button" class="toggle-btn" onclick="register()">Register</button>
        </div>
        <div class="social-icons">
            <img src="{% static 'images/Google logo.png' %}">
            <img src="{% static 'images/fblogo.png' %}">
            <hr class="colour">
            <p class="or">or</p>
        </div>
        <form id="login" class="input-group" method="POST" action="/login">
            {% csrf_token %}
            <input type="text" class="input-field" name="User id" placeholder="User id" required>
            <input type="text" class="input-field" name="Password" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box"><span>Remember Password</span>
            <button type="submit" class="submit-btn">Log In</button>
        </form>
        <form id="register" class="input-group" method="POST" action="/register">
            {% csrf_token %}
            <input type="text" class="input-field" name="User id" placeholder="User id" required>
            <input type="email" class="input-field" name="Email" placeholder="Email id" required>
            <input type="text" class="input-field" name="Password" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box"><span>I agree to the terms and conditions</span>
            <button type="submit" class="submit-btn">Register</button>
            
        </form>
        
    </div>
    

    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

    function register(){
        x.style.left="-400px";
        y.style.left="50px";
        z.style.left="110px";
    }

    function login(){
        x.style.left="50px";
        y.style.left="450px";
        z.style.left="0";
    }
    </script>
    
</body>
</html>