<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>

<body>
    <div class="main">
        <nav>
            <img src="images/Rightlogo.png" style="width:70px; height:80px; padding-left:78px; position:fixed; top: 0">
            <h1 style="font-family:cursive; font-size:40px; top:0; line-height:80px; font-style:italic; color:rgba(230, 139, 54, 0.945);
            padding-left:150px; float:left; position:fixed">
                Fact Detector
            </h1>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="Registration and LogIn.html">Log In / Sign Up</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <div class="about-section">
            <div class="inner-container">
                <h1>About Us </h1>
                <p class="text">
                    This tutorial provides all the steps required to install Eclipse for developing Python
                    applications on Windows. It explains how to install Eclipse with PyDev to develop Python
                    applications on Windows 10. The same setup can also be used to develop web-based
                    applications using Django. All the steps should be similar for other versions of Windows.
                    PyDev is a plugin that enables Eclipse for Python development.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
