<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>

    <style>
        .bg-image {
            background-image: url("https://cdn.aarp.net/content/dam/aarp/politics/government-and-elections/2020/07/1140-fact-fake-blocks.web.jpg");
            filter: blur(3px);
            -webkit-filter: blur(3px);
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="bg-image"></div>
</body>
</html>
